#header-color {
	text-align: center;
	padding: 0px;
	margin-top: 0px;
}
h1 {
	color: black;
	font-family: arial, helvetica, "sans serif";
	font-size: 150%;
	margin-top: 0px;
	line-height: 75%;
}
title {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body {
	font-size: 14px;
	color: black;
	margin: 0;
}
.navbar {
	width: 200px;
	height: 200px;
	background-color: #3b4552;
	padding: 20px;
	position: sticky;
		}
body {
	background-color: #c0c3ca;
	border-color: black;
	border-style: double;
}
p {
	color: black;
	padding: 15px;
}
h4 {
	color: black;
}
article {
	border-left: 150;
	border-right: 150;
	margin-left: 90px;
	margin-right: 300px;
	padding: 10px;
}
footer {
	margin-left: 90px;
	margin-right: 300px;
	padding: 10px;
	margin-bottom: 10px;
	background-color:#3b4552;
}
label {
	display: flex;
	width: 90px;
}
h2 {
	background-color: #3b4552;
	padding-left: 10px;
}
.submit {
	color: #c0c3ca;
	font-weight: bolder;
	background-color: #3b4552;
	flood-opacity: 1px;
}
.reset {
	color: #c0c3ca;
	font-weight: bolder;
	background-color: #3b4552;
	flood-opacity: 1px;
}
.linked {
	width: 3%;
	height: 3%;
	margin-left: 1%;
	margin-top: 5px;
	filter: grayscale(0%);
}
.linked:hover {
	transform: rotate(360deg);
	filter: hue-rotate(250deg);
	transition: 0.4s;
}
.banner-container {
	background-image: url("my-image-directory/banner.jpg");
	background-size: cover;
	padding: 150px;
	background-attachment: fixed;
	margin-top: 0%;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 30%;
	border-radius: 50%;
}
img:hover{
	transform: rotate(360deg);
	transition: 0.4s;
}
