img {
height: 10%;
width: 10%;
margin-top: 10px;
margin-left: 10px;
}
img:hover {
transform: rotate(300deg)
}

@keyframes img {
  from {transform: translateX(-10px);
    border-radius: 50%;
    transform:translateY(-100px)
  }
  to {transform: translateX(-100px);
    transform:translateY(10px)
     }
}
img { 
  animation-name: img;
  animation-duration: 2s;
  animation-timing-function:ease;
  animation-delay: 0s;
  animation-iteration-count: 4;
  animation-direction:alternate-reverse;
    }

  





}